<div class="boxed animated fadeIn animation-delay-5" ng-controller="detailsController">

        <div class="container">
            <div class="row" style="margin-top:1em">
                <div class="col-md-6">
                    <h3 class="section-title">{{restaurant.name}}</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="vv_result_tile_small">
                                <div class="vv_left_column">Rating</div>
                                <div class="vv_right_column">***</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="vv_result_tile_small">
                                <div class="vv_left_column">Cost</div>
                                <div class="vv_right_column">$$$</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="vv_result_tile_small">
                                <div class="vv_left_column">Link to yelp:</div>
                                <a href="#" class="vv_right_column">Yelp Link</a>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="vv_result_tile_small">
                                <div class="vv_left_column">Address</div>
                                <div class="vv_right_column">1111 one way</div>
                            </div>
                        </li>
                    </ul> <!--list-group -->
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="panel-group" id="accordion" style="margin-bottom:1em">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                                        Inspections
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <table class="panel-body" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Inspection Type</th>
                                            <th>Date</th>
                                            <th>Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody style="border:solid 1px #00708c ">
                                        {% for violation in violations %}
                                        <tr>
                                            <td>{{violation.violation_description}}</td>
                                            <td>{{violation.activity_date}}</td>
                                            <td>
                                                {% if violation.resource_code == "G"%}
                                                <div class="vv_restaurant_Rating_good">
                                                    <i class="fa fa-circle"></i>
                                                </div>
                                                {% endif %}
                                                {% if violation.resource_code == "Y"%}
                                                <div class="vv_restaurant_Rating_okay">
                                                    <i class="fa fa-circle"></i>
                                                </div>
                                                {% endif %}
                                                {% if violation.resource_code == "R"%}
                                                <div class="vv_restaurant_Rating_bad">
                                                    <i class="fa fa-circle"></i>
                                                </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="../static/hello/img/w2.jpg" class="thumbnail margin-bottom-20" data-lightbox="w1" title="My cassption">
                        <img src="../../static/hello/img/w2.jpg" class="img-responsive" alt="Image">
                    </a>
                </div>
            </div>
        </div> <!-- container  -->

</div> <!-- boxed -->