<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Alameda Safe Eats</title>

    <!-- CSS -->
    <link href="../static/hello/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/lightbox.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/syntax/shCore.css" rel="stylesheet"  media="screen">
    <link href="../static/hello/css/syntax/shThemeDefault.css" rel="stylesheet"  media="screen">

    <link href="../static/hello/css/style.css" rel="stylesheet" media="screen" title="default">
    <link href="../static/hello/css/color-default.css" rel="stylesheet" media="screen" title="default">
    <link href="../static/hello/css/width-full.css" rel="stylesheet" media="screen" title="default">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../static/hello/js/html5shiv.js"></script>
    <script src="../../static/hello/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="boxed animated fadeIn animation-delay-5">

        <header id="header" class="hidden-xs">
            <div class="container">
                <div id="header-title">
                    <h1 class="animated fadeInDown"><a href="index.html">Alameda <span>Safe Eats</span></a></h1>
                </div>
            </div> <!-- container -->
        </header> <!-- header -->

        <nav class="navbar navbar-static-top navbar-mind" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="index.html">Open <span>Mind</span></a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-inverse"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-mind-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/search">Search</a>
                        </li>
                        <li>
                            <a href="portfolio.html">Placeholder</a>
                        </li>
                    </ul> <!-- nav nabvar-nav -->
                </div><!-- navbar-collapse -->
            </div> <!-- container -->
        </nav> <!-- navbar navbar-default -->

        <section><!-- dummy --></section>

        <section>
            <div class="container">
                    <div class="hidden-xs animated bounceInLeft">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                </span>
                        </div><!-- /input-group -->
                    </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            Search for restaurants in Alameda County and view their health safety inspection results
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <footer id="footer">
            <p>&copy; 2013 <a href="#">Open Mind</a>, inc. All rights reserved.</p>
        </footer>

    </div> <!-- boxed -->

    <div id="back-top">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>


    <!-- Scripts -->
    <script src="../static/hello/js/jquery-1.10.2.min.js"></script>
    <script src="../static/hello/js/jquery.cookie.js"></script>
    <script src="../static/hello/js/bootstrap.min.js"></script>
    <script src="../static/hello/js/jquery.mixitup.min.js"></script>
    <script src="../static/hello/js/lightbox-2.6.min.js"></script>
    <script src="../static/hello/js/holder.js"></script>
    <script src="../static/hello/js/app.js"></script>
    <script src="../static/hello/js/styleswitcher.js"></script>

    <script src="../static/hello/js/syntax/shCore.js"></script>
    <script src="../static/hello/js/syntax/shBrushXml.js"></script>
    <script src="../static/hello/js/syntax/shBrushJScript.js"></script>

    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
</body>

</html>
