<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Alameda Food Safety</title>

    <!-- CSS -->
    <link href="../static/hello/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/lightbox.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/syntax/shCore.css" rel="stylesheet"  media="screen">
    <link href="../static/hello/css/syntax/shThemeDefault.css" rel="stylesheet"  media="screen">

    <link href="../static/hello/css/style.css" rel="stylesheet" media="screen" title="default">
    <link href="../static/hello/css/color-default.css" rel="stylesheet" media="screen" title="default">
    <link href="../static/hello/css/width-full.css" rel="stylesheet" media="screen" title="default">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../static/hello/js/html5shiv.js"></script>
    <script src="../../static/hello/js/respond.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
    <![endif]-->
</head>

<body>
    <div class="boxed animated fadeIn animation-delay-5">

        <header id="header" class="hidden-xs">
            <div class="container">
                <div id="header-title">
                    <h1 class="animated fadeInDown"><a href="index.html">Alameda<span>Food Safety</span></a></h1>
                </div>
            </div> <!-- container -->
        </header> <!-- header -->

        <nav class="navbar navbar-static-top navbar-mind" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="index.html">Open <span>Mind</span></a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-inverse"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-mind-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/search">Search</a>
                        </li>
                        <li>
                            <a href="portfolio.html">Placeholder</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="wrap-title">
            <div class="container">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                </div>
            </div>
        </header>

        <section class="animated fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="section-title">About</h2>
                        <img src="img/asdf.jpg" class="img-responsive alignleft imageborder" alt="Image">
                        <p class="p-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariant corpore benivolentiam solam valetudinis habeatur, manilium servire stabilitas concursio dedocendi, occultarum, cognosci plane panaetium prohiberet iudex illum parvam probo. Invidiae deserere multis argumentum quem. Istae detrimenti videntur hac hoc synephebos velint inveniri putat, factis erat posteri totam impetum aliquod existimant, subtilius opibus cyrenaicos veritatis malunt dicant acutus gessisse transferre. Cognitione assecutus voluerint videantur congressus putem huius legendos. Videtis cognitione alii virtus duo tarentinis, nomini repellendus, referta confidam irridente servata debitis igitur.</p>
                        <p class="p-lg">Domo splendido octavio. Maximasque. Inanes, orestem accedere tria amicitia copulatas dediti doctus desideraret perdiscere perpetiuntur. Attulit praeclara fingitur requietis fieri. Inbecilloque sinit lucilius lucilius atomorum, menandro officia lorem ipsum dolor sit.</p>
                        <div class="alert alert-info">
                            <strong>important info!</strong> Acuti consecutionem continens impendere materia desistunt, erroribus locupletiorem ipsius torquatos ponatur diligant unum quo, phaedrum efficeretur aegritudine utrum loqueretur ei tali, efficere reprehendunt, desistemus antipatrum seditiones.
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2 class="section-title">Our mission</h2>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            Collapsible Group Item #1
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                            Collapsible Group Item #2
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                            Collapsible Group Item #3
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container -->
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            Search for restaurants in Alameda County and view their health safety inspection results
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <!-- Scripts -->
    <script src="../static/hello/js/jquery-1.10.2.min.js"></script>
    <script src="../static/hello/js/jquery.cookie.js"></script>
    <script src="../static/hello/js/bootstrap.min.js"></script>
    <script src="../static/hello/js/jquery.mixitup.min.js"></script>
    <script src="../static/hello/js/lightbox-2.6.min.js"></script>
    <script src="../static/hello/js/holder.js"></script>
    <script src="../static/hello/js/app.js"></script>
    <script src="../static/hello/js/styleswitcher.js"></script>

    <script src="../static/hello/js/syntax/shCore.js"></script>
    <script src="../static/hello/js/syntax/shBrushXml.js"></script>
    <script src="../static/hello/js/syntax/shBrushJScript.js"></script>

    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
</body>

</html>
