<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Alameda Food Safety</title>

    <!-- CSS -->
    <link href="../static/hello/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/lightbox.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/syntax/shCore.css" rel="stylesheet"  media="screen">
    <link href="../static/hello/css/syntax/shThemeDefault.css" rel="stylesheet"  media="screen">

    
    <link href="../static/hello/css/style.css" rel="stylesheet" media="screen" title="default">
    <link href="../static/hello/css/color-default.css" rel="stylesheet" media="screen" title="default">
    <link href="../static/hello/css/width-full.css" rel="stylesheet" media="screen" title="default">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../static/hello/js/html5shiv.js"></script>
    <script src="../../static/hello/js/respond.min.js"></script>
    <![endif]-->
</head>


<body>
    <div class="boxed animated fadeIn animation-delay-5">

        <header id="header" class="hidden-xs">
            <div class="container">
                <div id="header-title">
                    <h1 class="animated fadeInDown"><a href="index.html">Alameda<span>Food Safety</span></a></h1>
                </div>
            </div> <!-- container -->
        </header> <!-- header -->

        <nav class="navbar navbar-static-top navbar-mind" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="index.html">Open <span>Mind</span></a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-inverse"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-mind-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/search">Search</a>
                        </li>
                        <li>
                            <a href="portfolio.html">Placeholder</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="wrap-title">
            <div class="container">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="vv_sort_container portfolio-control">
                Sort By:
                <select ng-model="orderProp">
                    <option value="name">Alphabetical A-Z
                    <option value="-name">Alphabetical A-Z</option>
                    <option value="yelpRating">Yelp Rating</option>
                    <option value="inspectionRating">Average Inspection Rating</option>
                </select>
            </div>
           <!--<ul class="portfolio-control">-->
               <!--<li class="filter active" data-filter="all">All Items</li>-->
               <!--<li class="filter" data-filter="1">Web Design</li>-->
               <!--<li class="filter" data-filter="2">IOS App</li>-->
               <!--<li class="filter" data-filter="3">Android App</li>-->
               <!--<li class="filter" data-filter="4">Windows App</li>-->
           <!--</ul>-->

           <ul class="list-group">
                <li class="list-group-item">
                    <div class="vv_result_tile">
                        <div class="vv_left_column">
                            <div class="vv_restaurant_name">The Habit</div>
                            <div class="vv_restaurant_yelp_rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <div class="vv_restaurant_location">123 Fake St</div>
                        </div>
                        <div class="vv_right_column">
                            <div class="vv_restaurant_Rating_good">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="vv_restaurant_cost">
                                <i class="fa fa-usd"></i>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="badge">194</span>
                    Morbi leo risus
                </li>
                <li class="list-group-item">
                    <span class="badge">4</span>
                    Porta ac consectetur ac
                </li>
                <li class="list-group-item">
                    <span class="badge">54</span>
                    Vestibulum at eros
                </li>
            </ul>
        </div> <!-- container  -->
    </div> <!-- boxed -->

    <!-- Scripts -->
    <script src="../static/hello/js/jquery-1.10.2.min.js"></script>
    <script src="../static/hello/js/jquery.cookie.js"></script>
    <script src="../static/hello/js/bootstrap.min.js"></script>
    <script src="../static/hello/js/jquery.mixitup.min.js"></script>
    <script src="../static/hello/js/lightbox-2.6.min.js"></script>
    <script src="../static/hello/js/holder.js"></script>
    <script src="../static/hello/js/app.js"></script>
    <script src="../static/hello/js/styleswitcher.js"></script>

    <script src="../static/hello/js/syntax/shCore.js"></script>
    <script src="../static/hello/js/syntax/shBrushXml.js"></script>
    <script src="../static/hello/js/syntax/shBrushJScript.js"></script>

    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
</body>

</html>
