<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Alameda Food Safety</title>

    <!-- CSS -->
    <link href="../static/hello/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/lightbox.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/syntax/shCore.css" rel="stylesheet"  media="screen">
    <link href="../static/hello/css/syntax/shThemeDefault.css" rel="stylesheet"  media="screen">

    
    <link href="../static/hello/css/style.css" rel="stylesheet" media="screen" title="default">
    <link href="../static/hello/css/color-default.css" rel="stylesheet" media="screen" title="default">
    <link href="../static/hello/css/width-full.css" rel="stylesheet" media="screen" title="default">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../static/hello/js/html5shiv.js"></script>
    <script src="../../static/hello/js/respond.min.js"></script>
    <![endif]-->
</head>


<body>
    <div class="boxed animated fadeIn animation-delay-5">

        <header id="header" class="hidden-xs">
            <div class="container">
                <div id="header-title">
                    <h1 class="animated fadeInDown"><a href="index.html">Alameda<span>Food Safety</span></a></h1>
                </div>
            </div> <!-- container -->
        </header> <!-- header -->

        <nav class="navbar navbar-static-top navbar-mind" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="index.html">Open <span>Mind</span></a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-inverse"></i>
                    </button>
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-mind-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Home Option 1</a></li>
                                <li><a href="home2.html">Home Option 2</a></li>
                            </ul>
                        </li> <!-- dropdown -->

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI Elements <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="css.html">CSS</a></li>
                                <li><a href="components.html">Components</a></li>
                                <li><a href="additional_components.html">Additional Components</a></li>
                                <li><a href="layout.html">Layout</a></li>
                            </ul>
                        </li> <!-- dropdown -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="about.html">About us</a></li>
                                <li><a href="team.html">Our Team</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="coming.html">Coming Soon</a></li>
                                <li><a href="coming2.html">Coming Soon Option 2</a></li>
                                <li><a href="timeline.html">Timeline</a></li>
                                <li><a href="404.html">Error 404</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="full.html">Full Page</a></li>
                                <li class="dropdown-header">User Pages</li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="profile.html">Profile</a></li>
                            </ul>
                        </li> <!-- dropdown -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog.html">Blog Right Sidebar</a></li>
                                <li><a href="blog_right.html">Blog Left Sidebar</a></li>
                                <li><a href="blog_full.html">Blog Full</a></li>
                                <li><a href="single.html">Blog Single</a></li>
                                <li><a href="blog2.html">Blog Other Option</a></li>
                            </ul>
                        </li> <!-- dropdown -->
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="portfolio.html">Portfolio</a></li>
                                <li><a href="portfolio2.html">Portfolio Option 2</a></li>
                                <li><a href="portfolio_item.html">Portfolio item</a></li>
                            </ul>
                        </li> <!-- dropdown -->
                    </ul> <!-- nav nabvar-nav -->

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login</a>
                            <div class="dropdown-menu dropdown-login animated fadeInUp">
                                <form role="form">
                                    <h4 class="section-title">Login Form</h4>
         
                                    <div class="form-group">
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="text" class="form-control" placeholder="Username">
                                        </div>
                                        <br>
                                        <div class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            <input type="password" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right">Login</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>      
                            </div>
                        </li> <!-- dropdown -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">User name</a>
                            <div class="dropdown-menu dropdown-profile animated fadeInUp">
                                <img src="../static/hello/img/avatar.jpg" class="imageborder alignleft" alt="image">
                                <h4>Administrator</h4>
                                admin@openmind.com<br>
                                <a href="profile.html">Profile</a> | <a href="#">Logout</a>

                            </div>
                        </li> <!-- dropdown -->
                    </ul> <!-- nav nabvar-nav -->
                </div><!-- navbar-collapse -->
            </div> <!-- container -->
        </nav> <!-- navbar navbar-default -->

        <header class="wrap-title">
            <div class="container">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                </div>
            </div>
        </header>
          
        <div class="container">
           <ul class="portfolio-control">
               <li class="filter active" data-filter="all">All Items</li>
               <li class="filter" data-filter="1">Web Design</li>
               <li class="filter" data-filter="2">IOS App</li>
               <li class="filter" data-filter="3">Android App</li>
               <li class="filter" data-filter="4">Windows App</li>
           </ul>

           <ul class="list-group">
                <li class="list-group-item">
                    <div class="vv_result_tile">
                        <div class="vv_left_column">
                            <div>The Habit</div>
                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <div>123 Fake St</div>
                        </div>
                        <div class="vv_right_column">
                            <div class="vv_restaurant_Rating_good">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="vv_restaurant_cost">
                                <i class="fa fa-usd"></i>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="badge">86</span>
                    Dapibus ac facilisis in
                </li>
                <li class="list-group-item">
                    <span class="badge">194</span>
                    Morbi leo risus
                </li>
                <li class="list-group-item">
                    <span class="badge">4</span>
                    Porta ac consectetur ac
                </li>
                <li class="list-group-item">
                    <span class="badge">54</span>
                    Vestibulum at eros
                </li>
            </ul>

        </div> <!-- container  -->

        <footer id="footer">
            <p>&copy; 2013 <a href="#">Open Mind</a>, inc. All rights reserved.</p>
        </footer>

    </div> <!-- boxed -->

    <!-- Scripts -->
    <script src="../static/hello/js/jquery-1.10.2.min.js"></script>
    <script src="../static/hello/js/jquery.cookie.js"></script>
    <script src="../static/hello/js/bootstrap.min.js"></script>
    <script src="../static/hello/js/jquery.mixitup.min.js"></script>
    <script src="../static/hello/js/lightbox-2.6.min.js"></script>
    <script src="../static/hello/js/holder.js"></script>
    <script src="../static/hello/js/app.js"></script>
    <script src="../static/hello/js/styleswitcher.js"></script>

    <script src="../static/hello/js/syntax/shCore.js"></script>
    <script src="../static/hello/js/syntax/shBrushXml.js"></script>
    <script src="../static/hello/js/syntax/shBrushJScript.js"></script>

    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
</body>

</html>
