<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Open Mind</title>

    <!-- CSS -->
    <link href="../static/hello/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/lightbox.css" rel="stylesheet" media="screen">
    <link href="../static/hello/css/syntax/shCore.css" rel="stylesheet"  media="screen">
    <link href="../static/hello/css/syntax/shThemeDefault.css" rel="stylesheet"  media="screen">

    
    <link href="../static/hello/css/style.css" rel="stylesheet" media="screen" title="default">
    <link href="../static/hello/css/color-default.css" rel="stylesheet" media="screen" title="default">
    <link href="../static/hello/css/width-full.css" rel="stylesheet" media="screen" title="default">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../static/hello/js/html5shiv.js"></script>
    <script src="../../static/hello/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="boxed animated fadeIn animation-delay-5">

        <header class="wrap-title">
            <div class="container">
                <h1 class="page-title">Portfolio Item</h1>

                <ol class="breadcrumb hidden-xs">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li class="active">Portfolio Item</li>
                </ol>
            </div>
        </header>
          
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="section-title">Detail Page</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Restaurant: Chipotle</li>
                        <li class="list-group-item">Rating: Three Stars</li>
                        <li class="list-group-item">Cost: $$$</li>
                        <li class="list-group-item">Link to yelp: <a href="#">Yelp Link</a></li>
                        <li class="list-group-item">Address</li>
                    </ul> <!--list-group -->
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                                        Violations
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <table class="panel-body" style="width:100%">
                                    <thead>
                                        <tr>
                                            <td>
                                                Violation
                                            </td>
                                            <td>
                                                Rating
                                            </td>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>
                                            Clean Kitchen
                                        </td>
                                        <td>
                                            G
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sufficient Supplies
                                        </td>
                                        <td>
                                            Y
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- container  -->

    </div> <!-- boxed -->


    <div id="back-top">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>

    <!-- Scripts -->
    <script src="../static/hello/js/jquery-1.10.2.min.js"></script>
    <script src="../static/hello/js/jquery.cookie.js"></script>
    <script src="../static/hello/js/bootstrap.min.js"></script>
    <script src="../static/hello/js/jquery.mixitup.min.js"></script>
    <script src="../static/hello/js/lightbox-2.6.min.js"></script>
    <script src="../static/hello/js/holder.js"></script>
    <script src="../static/hello/js/app.js"></script>
    <script src="../static/hello/js/styleswitcher.js"></script>

    <script src="../static/hello/js/syntax/shCore.js"></script>
    <script src="../static/hello/js/syntax/shBrushXml.js"></script>
    <script src="../static/hello/js/syntax/shBrushJScript.js"></script>

    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
</body>

</html>
